<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a
      href="https://profile.intra.42.fr/users/namina"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link"
    >
      <span>Intra profile</span>
    </a>
    <a
      href="https://github.com/n0ring"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link1"
    >
      <span>Github</span>
    </a>
    <a
      href="https://www.linkedin.com/in/aleksandr-menshikh"
      target="_blank"
      rel="noreferrer noopener"
      class="navigation-links-link2"
    >
      <span>Linkedin</span>
    </a>
  </nav>
</div>
